//Setter fargevariabler som kan gjenbrukes
$lilla: rgb(86, 26, 136);
$shadow: rgb(181, 181, 181);
$pcolor: rgb(202, 255, 187);
$scolor: rgb(190, 164, 255);
$tcolor: rgb(156, 145, 247);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$stor_font: 'Bebas Neue', sans-serif;
$liten_font: 'Poppins', sans-serif;