@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//Setter variabler som kan gjenbrukes nedover
$font_color: rgb(107, 45, 157);
$shadow: rgb(186, 186, 186);
$pcolor: rgb(199, 255, 183);
$scolor: rgb(190, 164, 255);
$tcolor: rgb(156, 145, 247);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$stor_font: 'Bebas Neue', sans-serif;
$liten_font: 'Poppins', sans-serif;


//Kilde gradient: https://www.w3schools.com/css/css3_gradients.asp
html, body {
    background-image: linear-gradient($pcolor, $scolor);

    @media (min-width: 999px) {
        background-image: linear-gradient(to right, $pcolor, $scolor, $pcolor);
    }
}

a{
    color: $font_color;
}

header {
    display: block;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 650px) {
        display: flex;
    }
}

header a {
    text-decoration: none;
    padding-top: 20px;
}

nav a {
    display: block;
    padding: 1em;
    font-weight: 00;

    @media (min-width: 942px) {
        display: inline;
        cursor: pointer;
    }
}

h1 {
    font-family: $stor_font;
    font-weight: 900;
    color: $font_color;
    margin: 0 auto;
    font-size: 70px;
    padding: 50px;
    text-shadow: 10px 5px 5px $shadow;
    text-align: center;

    @media (min-width: 650px) {
        margin: 0;
        margin-left: 15px;
    }
}

h2, h3 {
    font-weight: 400;
    font-size: 2.2em;
    font-family: $stor_font;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;

    @media (min-width: 650px) {
        padding-left: 65px;
        text-align: left;
    }
}

h4 {
    font-weight: 400;
    font-size: 1.4em;
    font-family: $stor_font;
    text-transform: uppercase;
    margin: 0 auto;

    @media (min-width: 650px) {
        margin: 0;
    }
}

p, nav {
    text-align: center;
    font-family: $liten_font;
    font-size: 1.1em;
    padding: 50px;

    @media (min-width: 960px) {
        text-align: center;
        word-wrap: break-word;
        padding: 25px;
        margin-right: 25px;
    }
}

.Hjem_side {
    display: inline;
    border-radius: 20px;
    padding: 5px 15px;
    height: 35px;
    width: 40%;
    background-color: $font_color;
    color: $white;

    @media (min-width: 650px) {
        text-align: left;
        font-family: $liten_font;
        font-weight: 500;
        color: $white;
        padding: 0.2em;
        background-color: $font_color;
        border-radius: 9px;
    }
}

.filmIkon, .brukerIkon {
    font-size: 25px;
    transform: translate(1px, 4px);
}

.movieList {
    display: block;
    flex-wrap: wrap;
    max-width: 100%;

    @media (min-width: 850px) {
        display: flex;
        max-width: 50%;
        padding: 25px;
        margin-left: 20px;
        align-items: flex-start;
    }
}

.movieCard {
    display: block;
    padding: 2em;

    @media (min-width: 650px) {
        display: flex;
        flex-direction: column;
        max-width: 40%;
        margin: 10px;
        padding: 1em;
        align-items: center;
        box-sizing: border-box;
    }

    @media (min-width: 850px) {
        max-width: 100%;
    }
}

.movieCard img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1em;
    margin: 0 auto;
    box-shadow: 10px 5px 5px $shadow;

    @media (min-width: 650px) {
        width: 15em;
        height: auto;
        margin-top: 1em;
        box-shadow: 10px 5px 5px $shadow;
    }
}

ul {
    list-style: none;
    margin: 0 auto;
    display: inline;
    justify-content: center;
    max-width: 100%;

    @media (min-width: 440px) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
}

li {
    text-align: center;
    font-family: $liten_font;
    font-size: 1.1em;
    background-color: $font-color;
    color: $white;
    width: 70%;
    height: 90%;
    border-radius: 6px;
    margin: 0.2em auto;
    cursor: pointer;
}
