@import 'colors';
@import 'movieCard';
@import 'header';
@import 'genre';
@import 'users';
@import 'icons';
@import 'lists';
@import 'home';

//Kilde gradient: https://www.w3schools.com/css/css3_gradients.asp
html, body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient($pcolor, $scolor);

    @media (min-width: 850px) {
        background-image: linear-gradient($pcolor, $scolor);
    }
}

footer{
        text-align: center;
        margin-top: 3em;
    }
    
  @import 'comparison';