@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//Setter variabler som kan gjenbrukes nedover
$font_color: rgb(85, 15, 142);
$shadow: rgb(186, 186, 186);
$pcolor: rgb(218, 255, 208);
$scolor: rgb(196, 190, 255);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$stor_font: 'Bebas Neue', sans-serif;
$liten_font: 'Poppins', sans-serif;


html, body {
    background-image: linear-gradient(to right, $pcolor, $scolor, $pcolor);
}

header{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
}

nav a{
    padding: 6px;
    font-weight: 500;
}

h1{
    font-family: $stor_font;
    font-weight: 900;
    color: $font_color;
    margin: 0;
    font-size: 65px;
    padding: 25px;
    margin-left: 25px;
    text-shadow: 10px 5px 5px $shadow;
}

h2, h3 {
    font-weight: 400;
    font-size: 2.2em;
    font-family: $stor_font;
    text-transform: uppercase;
    padding-left: 55px;
    margin: 0 0;
}

h4{
    font-weight: 400;
    font-size: 1.4em;
    font-family: $stor_font;
    text-transform: uppercase;
    margin: 0 0;
}

p, nav{
    text-align: left;
    font-family: $liten_font;
    font-size: 1em;
    word-wrap: break-word;
    padding: 25px;
    margin-right: 25px;
}

.Hjem_side {
    text-align: left;
    font-family: $liten_font;
    font-weight: 500;
    color: white;
    background-color: $font_color;
    border-radius: 9px;
}

.filmIkon, .brukerIkon {
    font-size: 25px;
    transform: translate(1px, 7px);
}

.movieList{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    padding: 25px;
    margin-left: 20px;
    align-items: flex-start;
}

.movieCard {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 10px;
    padding: 2px;
    align-items: center;
    box-sizing: border-box;
        
}

.movieCard img{
    width: 15em;
    height: auto;
    margin-top: 1em;
    box-shadow: 10px 5px 5px $shadow;
}
